body {
  background-color: rgb(255,255,51);
  color: rgb(63,224,208);
}
img {
float:left;
}
p {
  position: absolute;
  top: 130px;
  left: 230px;
  color: black;
  width: 200px;
}
div {
position: absolute;
  top: 400px;
}
h1 {
font-weight: bold;
}
