body {
  background-color: rgb(255,255,51);
  color: rgb(63,224,208);
}
div {
  display:inline-block;
}
.leftdiv {
  position: absolute;
  left: 20px;
  top: 400px;
}
.rightdiv {
  position: absolute;
  left: 600px;
  top: 410px;
}
img {
float: left;
}
.licensediv {
position: absolute;
  top: 700px;
  left: 0px;
}
p {
  position: relative;
  top: 70px;
  left: 50px;
  width: 1000px;
  color: rgb(0,0,128)
}
h1 {
font-weight: bold;
}
.attribute {
  color: black;
  font-size:12px;
  position: absolute;
  left: 50px;
  top:60px;
}
